html, body {
  margin: 0;
  height: 100%;
}

nav ul {
  width:1200px;
  margin:auto;
  padding: auto;
  text-align: center;
}
nav ul#menu {
  font-size:25px;
  display: block;
  padding: 6px 6px 6px 6px;    
  background-color:#dcdcdc;
  border-radius: 15px;
}

nav ul#menu li {
  display: inline-block;
  margin-right:1.5em;
  margin-left:1.5em;
}

nav ul#menu a {color:#000000;}

nav ul#menu a:hover {
  color:#ffffff;
  background-color:#0000ff;
}

a{
  color:#2e3436;
  text-decoration:none;
}
th{
  border:2px dashed;
}

.acyut{
  color:#ffffff;
}

table.tabcyut{
	background-color:#2660a9;
	width:1700px;
	height:80px;
	border-top:2px solid #000000;
}

.tdcyut{
	font-weight:bold;
	font-size:40px;
	text-align:center;
}

table.tab{
	width:800px;
	height:90px;
	margin-left:auto;
	margin-right:auto;
}


.tdtitle{
	height:45px;
	font-weight:bold;
	font-size:30px;
	text-align:center;
	color:#006400;
}

.tdtitle a{
	font-weight:bold;
	font-size:30px;
	text-align:center;
	color:#006400;
}

.tdall{
	width:245px;
	height:35px;
	font-size:25px;
	text-align:center;
}

.tdtea{
	font-size:25px;
	border:1px solid;
	text-align:center;
}

.tdteaall{
	width:25%;
	font-size:20px;
	text-align:center;
}

.image{
	width:28px;
	height:28px;
	vertical-align:text-bottom;
}
.highimage{
	width:90px;
	height:28px;
}

.tdall a:hover{color:#000000;font-weight:bold;}
.trtea td:hover{ background-color:#BA55D3;}


