<!doctype html>
{% load staticfiles %}
<html>
<head>
	<title>保齡球連結網站</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'main/css/div.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/account.css' %}">
</head>
<body>
  <div id='all'>
    <div id='header'>
    <table width='1600px'>
	   <tr>
		    <td><a href="{% url 'main:main' %}"><font color='#ffffff'><h1>保齡球連結網站</h1></font></a></td>
		  	<td>{% include 'other/menu.html' %}</td>
		  	{% if user.is_authenticated %}
		  	<td><a href="{% url 'account:register' %}"><font color='#ffffff'>註冊</font></a></td>
		    <td><a href="{% url 'account:logout' %}"><font color='#ffffff'>登出 ({{ user.username }})</font></a></td>
		    {% else %}
		  	<td><a href="{% url 'account:login' %}"><font color='#ffffff'>登入</font></a></td>
		  	{% endif %}
		   </tr>
	</table>
	</div>
  <hr size="5" color="red">
   <div id='center'>
		
		{% block heading %}<font size='6' color='#444444'>登入</font>{% endblock %}
		{% block content %}
		<form method="post" action="{% url 'account:login' %}">
		  {% csrf_token %}
		  <p><font size='5'>帳號：<input class='logininput' type="text" name="username"></font></p>
		  <p><font size='5'>密碼：<input class='logininput' type="password" name="password"></font></p>
		  {% if nextURL %}
		    <input type="hidden" name="nextURL" value="{{ nextURL }}">
		  {% endif %}
		  <p>
			  <input class='loginbtn' class="btn" type="submit" value="送出">
			  <input class='loginbtn' class="btn" type="reset" value="清除">
		  </p>
		</form>
		{% endblock %}
		
	</div>
   <table><tr></tr></table>
  <hr size="5" color="red">
  <div id='footer'>
      <font size="5"><b>保齡球連結網站大改1.0版</b></font><br><font size="3">公布日期：2019年2月22日</font>
  </div>
  </div>
 </body>
</html>