<!doctype html>
{% load staticfiles %}
<html>
<head>
	<title>保齡球連結網站</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'main/css/div.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/account.css' %}">
</head>
<body>
  <div id='all'>
    <div id='header'>
    {% include 'other/head.html' %}
	</div>
   <div id='center'>
		
		{% block heading %}<font size='6' color='red'>登入</font>{% endblock %}
		{% block content %}
		<form method="post" action="{% url 'account:login' %}">
		  {% csrf_token %}
		  <p><font size='5'>帳號：<input class='logininput' type="text" name="username"></font></p>
		  <p><font size='5'>密碼：<input class='logininput' type="password" name="password"></font></p>
		  {% if nextURL %}
		    <input type="hidden" name="nextURL" value="{{ nextURL }}">
		  {% endif %}
		  <p>
			  <input class='loginbtn' class="btn" type="submit" value="送出">
			  <input class='loginbtn' class="btn" type="reset" value="清除">
		  </p>
		</form>
		{% endblock %}
		
	</div>
  <div id='footer'>
      {% include 'other/footer.html' %}
  </div>
  </div>
 </body>
</html>