<!doctype html>
{% load staticfiles %}
<html>
<head>
	<title>保齡球連結網站</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'main/css/div.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/account.css' %}">
</head>
<body>
  <div id='all'>
    <div id='header'>
    {% include 'other/head.html' %}
	</div>
  <hr size="5" color="red">
  <div id='center'>

		{% block heading %}註冊{% endblock %}
		{% block content %}
		<form method="post" action="{% url 'account:register' %}">
		  {% csrf_token %}
		  {{ userForm.as_p }}
		  <input class="btn" type="submit" value="送出">
		  <input class="btn" type="reset" value="清除">
		</form>
		{% endblock %}

</div>
   <table><tr></tr></table>
  <hr size="5" color="red">
  <div id='footer'>
      {% include 'other/footer.html' %}
  </div>
  </div>
 </body>
</html>