<!doctype html>
{% load staticfiles %}
<html>
<head>
	<title>保齡球連結網站</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'main/css/div.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/account.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/two.css' %}">
</head>
<body>
  <div id='all'>
    <div id='header'>
      {% include 'other/head.html' %}
    </div>
    <table style="margin-left: 0px auto; margin-right: 0px auto;" >
      <tr>
       <td colspan="3"></td>
      </tr>
      <tr>
       <td id="seven" value="7">7</td>  <td id="eight" value="8">8</td>  <td id="nine" value="9">9</td>
      </tr>
      <tr>
       <td id="four" value="4">4</td>  <td id="five" value="5">5</td>  <td id="six" value="6">6</td>
      </tr>
      <tr>
       <td id="one" value="1">1</td>  <td id="two" value="2">2</td>  <td id="three" value="3">3</td>
      </tr>
    </table>
    <div id='footer'>
      {% include 'other/footer.html' %}
    </div>
  </div>
 </body>
</html>
