<!doctype html>
{% load staticfiles %}
<html>
<head>
	<title>保齡球連結網站</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/div.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/account.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/two.css' %}">
</head>
<body>
  <div id='all'>
    <div id='header'>
      {% include 'other/head.html' %}
    </div>
    <table style="margin-left: 0px auto; margin-right: 0px auto;" >
      <tr>
       <td colspan="3"></td>
      </tr>
      <tr>
       <td name="comp" value="7">7</td>  <td name="comp" value="8">8</td>  <td name="comp" value="9">9</td>
      </tr>
      <tr>
       <td name="comp" value="4">4</td>  <td name="comp" value="5">5</td>  <td name="comp" value="6">6</td>
      </tr>
      <tr>
       <td name="comp" value="1">1</td>  <td name="comp" value="2">2</td>  <td name="comp" value="3">3</td>
      </tr>
    </table>
    <div id='footer'>
      {% include 'other/footer.html' %}
    </div>
  </div>
 </body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script>
  $(document).ready(function() {
  
   $(document).on("click", "input[name=comp]", function() {
	alert("good");
   });

  });
 </script>
</html>
