<!doctype html>
{% load staticfiles %}
<html>
<head>
	<title>保齡球連結網站</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/div.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/two.css' %}">
</head>
<body>
  <div id='all'>
    <div id='header'>
      {% include 'other/head.html' %}
    </div>
    <table style="margin-left: 0px auto; margin-right: 0px auto;" >
      <tr>
       <td colspan="4"></td>
      </tr>

      <tr>
       <td><input type="button" name="comp" value="7"></td>  <td><input type="button" name="comp" value="8"></td>  <td><input type="button" name="comp" value="9"></td> <td><input type="button" name="comp" value="+"></td>
      </tr>
      <tr>
       <td><input type="button" name="comp" value="4"></td>  <td><input type="button" name="comp" value="5"></td>  <td><input type="button" name="comp" value="6"></td> <td><input type="button" name="comp" value="-"></td>
      </tr>
      <tr>
       <td><input type="button" name="comp" value="1"></td>  <td><input type="button" name="comp" value="2"></td>  <td><input type="button" name="comp" value="3"></td> <td><input type="button" name="comp" value="*"></td>
      </tr>
      <tr>
       <td colspan="2"><input type="button" name="comp" value="0"></td>  <td><input type="button" name="comp" value="."></td> <td><input type="button" name="comp" value="/"></td>
      </tr>
      <tr>
       <td colspan="4"><input type="button" name="sum" value="送出"></td>
      </tr>
    </table>
    <div id='footer'>
      {% include 'other/footer.html' %}
    </div>
  </div>
 </body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script>
	 /*
  $(document).ready(function() {
  $a = "";
  $b = "";
  $sum = 0;
   $(document).on("click", "input[name=comp]", function() {
	 $this = $(this).val();
	 $a = $a.toString();
	 $a += $this.toString();   

	   
	if(isNaN($this)){
	
	}else{

	}
	 $a = $a.toString();
	 $a += $this.toString(); 
   });

  });
  */
 </script>
</html>
