<!doctype html>
{% load staticfiles %}
<html>
<head>
	<title>保齡球連結網站</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'main/css/div.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/account.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/two.css' %}">
</head>
<body>
  <div id='all'>
    <div id='header'>
    {% include 'other/head.html' %}
	</div>
  	<div id='center'>
  		<table style='margin-left:auto;	margin-right:auto;'>
	  	  <tr><td class='contd1' colspan='2'>版主訊息</td></tr>
	  	  <tr><td class='contdtitle'>NAME:<td class='contd'>BoMing-Liao</td></tr>
	  	  <tr><td class='contdtitle'>E-mail:<td class='contd'>a0918891539@gmail.com</td></tr>
	  	  <tr><td class='contdtitle'><td class='contd'>s10614150@cyut.edu.tw</td></tr>
	  	  <tr><td class='contdtitle'>School:<td class='contd'>Chaoyang University of Technology</td></tr>
	  	  <tr><td class='contdtitle'><td class='contd'>CYUT</td></tr>
	  	  <tr><td class='contdtitle'>Departmant:<td class='contd'>Information management department 2C</td></tr>
	  	  <tr><td class='contd1' colspan='2'>*Thanks*</td></tr>
	  	</table>
	  	<p>
  	</div>
  <div id='footer'>
      {% include 'other/footer.html' %}
  </div>
  </div>
 </body>
</html>