<!doctype html>
{% load staticfiles %}
<html>
   <head>
      <title>保齡球連結網站</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'main/css/div.css' %}">
      <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
      <link rel="stylesheet" href="{% static 'main/css/two.css' %}">
	  <style>
	  .td_style{
		text-align: left; 
		padding: 2px 0px 6px 5px; 
		font-size:25px;
	  }
	</style>
   </head>
   <body>
      <div id='all'>
	      <div id='header'>
			{% include 'other/head.html' %}
		  </div>
         <div class="center">
            <table class='tab'>
               <tr>
                  <td class="td_style"><a href="https://rar.tw/download.html" target="_blank"><img class="image" src="{% static 'main/img1/WinRAR.png' %}"> WinRAR</a></td>
                  <td class="td_style"><a href="https://get.adobe.com/tw/reader/" target="_blank"><img class="image" src="{% static 'main/img1/acrobat_dc.png' %}"> Reader DC</a></td>
               </tr>
               <tr>
                  <td class="td_style"><a href="https://notepad-plus-plus.org/downloads/" target="_blank"><img class="image" src="{% static 'main/img1/Notepad++.png' %}"> Notepad++</a></td>
                  <td class="td_style"><a href="https://www.teamviewer.com/tw/download/windows/" target="_blank"><img class="image" src="{% static 'main/img1/teamviewer.png' %}"> TeamViewer</a></td>
               </tr>
               <tr>
                  <td class="td_style"><a href="https://anydesk.com/zhs" target="_blank"><img class="image" src="{% static 'main/img1/anydesk.png' %}"> Anydesk</a></td>
                  <td class="td_style"><a href="https://www.anaconda.com/distribution/" target="_blank"><img class="image" src="{% static 'main/img1/anaconda.png' %}"> Anaconda</a></td>
               </tr>
               <tr>
                  <td class="td_style"><a href="https://visualstudio.microsoft.com/zh-hant/downloads/" target="_blank"><img class="image" src="{% static 'main/img1/visualstudio.png' %}"> Visual Studio</a></td>
                  <td class="td_style"><a href="https://code.visualstudio.com/" target="_blank"><img class="image" src="{% static 'main/img1/vscode.png' %}"> Visual Code</a></td>
               </tr>
               <tr>
                  <td class="td_style"><a href="https://www.python.org/" target="_blank"><img class="image" src="{% static 'main/img1/python.png' %}"> Python</a></td>
                  <td class="td_style"><a href="https://java.com/zh_TW/download/" target="_blank"><img class="image" src="{% static 'main/img1/java.png' %}"> Java</a></td>
               </tr>
               <tr>
                  <td class="td_style"><a href="http://brackets.io/" target="_blank"><img class="image" src="{% static 'main/img1/Brackets.png' %}"> Brackets</a></td>
                  <td class="td_style"><a href="https://www.oracle.com/technetwork/developer-tools/sql-developer/downloads/index.html" target="_blank"><img class="image" src="{% static 'main/img1/sqldev.png' %}">SQL Developer</a></td>
               </tr>
               <tr>
                  <td class="td_style"><a href="https://www.eclipse.org/downloads/" target="_blank"><img class='image' src="{% static 'main/img1/eclipse.png' %}"> Eclipse</a></td>
                  <td class="td_style"><a href="https://netbeans.org/downloads/8.0.2/" target="_blank"><img class='image' src="{% static 'main/img1/netbeans.png' %}"> Netbeans</a></td>
               </tr>
               <tr>
                  <td class="td_style"><a href="https://www.apachefriends.org/zh_tw/index.html" target="_blank"><img class='image' src="{% static 'main/img1/xampp.png' %}"> XAMPP</a></td>
                  <td class="td_style"><a href="https://docs.microsoft.com/zh-tw/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017" target="_blank"><img class='image' src="{% static 'main/img1/ssms.png' %}"> SSMS</a></td>
               </tr>
               <tr>
                  <td class="td_style" colspan="2"><a href="https://www.microsoft.com/zh-tw/sql-server/sql-server-downloads" target="_blank"><img class='image' src="{% static 'main/img1/microsoftSQL.png' %}"> Microsoft SQL Sever</a></td>
               </tr>
            </table>
         </div>
		   <div id='footer'>
			{% include 'other/footer.html' %}
		   </div>
      </div>
   </body>
</html>
