<!doctype html>
{% load staticfiles %}
<html>
<head>
	<title>保齡球連結網站</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'main/css/div.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/account.css' %}">
</head>
<body>
  <div id='all'>
    <div id='header'>
    {% include 'other/head.html' %}
	</div>
  <hr size="5" color="red">
	<table class='tabcyut'>
	  <tr><td class='tdcyut'><a class='acyut' href="https://www.cyut.edu.tw/" target="_new">朝陽科技大學首頁</a></td></tr>
	</table>
  <hr size="5" color="red">
  	{% if user.is_authenticated %}
	<table class='tabcyut'>
		<tr><td class='tdcyut'><a class='acyut' href="{% url 'main:cyut' %}" target="_new">分享專區</a></td></tr>
	</table>
  <hr size="5" color="red">
  {% endif %}
	  <div id='left'>
		{% include 'other/left.html' %}
	  </div>
	  <div id='right'>
		{% include 'other/right.html' %}
	  </div>
   <table><tr></tr></table>
  <hr size="5" color="red">
  <div id='footer'>
      <font size="5"><b>保齡球連結網站大改1.0版</b></font><br><font size="3">公布日期：2019年2月22日</font>
  </div>
  </div>
 </body>
</html>