<!doctype html>
{% load staticfiles %}
<html>
<head> 
	<title>保齡球連結網站</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'main/css/div.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/account.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/two.css' %}">
</head>
<body>
  <div id='all'>
    <div id='header'>
    {% include 'other/head.html' %}
	</div>
  	  <div id='verleft'>
	  	<table style='margin-left:auto;margin-right:auto;'>
	  	  <tr><td class='ver_td' colspan='3'>版本資訊(大版)</td></tr>
	  	  <tr><td class='ver_title'>Ver</td> <td class='ver_title'>Online-Date(2019)</td> <td class='ver_title' style='width:400px;'>content</td></tr>
	  	  <tr><td class='ver_td'>1.0版</td> <td class='ver_td'>02月08日</td> <td class='ver_con'>出版上線 伺服器連線測試</td></tr>
	  	  <tr><td class='ver_td'>1.5版</td> <td class='ver_td'>02月22日</td> <td class='ver_con'>正式公開上線、修改網頁連結功能</td></tr>
	  	  <tr><td class='ver_td'>2.0版</td> <td class='ver_td'>03月11日</td> <td class='ver_con'>增加後端存取功能</td></tr>
	  	  <tr><td class='ver_td'>2.5版</td> <td class='ver_td'>04月14日</td> <td class='ver_con'>簡化程式內容</td></tr>
	  	</table>
	 </div>
	 <div id='verright'>
	  	<table style='margin-left:auto;margin-right:auto;'>
	  	  <tr><td class='ver_td' colspan='3'>版本資訊(小版)</td></tr>
	  	  <tr><td class='ver_title'>Ver</td> <td class='ver_title'>Online-Date</td> <td class='ver_title' style='width:400px;'>content</td></tr>
	  	  <tr><td class='ver_td'>1.3版</td> <td class='ver_td'>02月11日</td> <td class='ver_con'>提供註冊、新增版本資訊、聯絡版主</td></tr>
	  	  <tr><td class='ver_td'>1.8版</td> <td class='ver_td'>03月09日</td> <td class='ver_con'>功課專區、資訊專區</td></tr>
	  	  <tr><td class='ver_td'>2.3版</td> <td class='ver_td'>04月02日</td> <td class='ver_con'>修改網頁</td></tr>
	  	</table>	
  	</div>
  <div id='footer'>
      {% include 'other/footer.html' %}
  </div>
  </div>
 </body>
</html>