{% load staticfiles %}
<br>
<table class='tab'>
  <tr><th class='tdtitle' colspan='3'>期中考公告</th></tr>
  <tr><td class='tdall'><a href='https://drive.google.com/open?id=1G2_5tXoevIWlqS2N0AY_Ox-1cYMnl754' target="_blank"><font style="color:red;">期中考行事曆</font></a></td></tr>
</table>
<p>
<table class='tab'>
  <tr><th class='tdtitle' colspan='3'>公告專區</th></tr>
  
  {% for article in articles %}
	<tr><td class='tdall'>{{ article.title }}</td></tr>
	<tr><td class='tdall' style='padding:10px; background-color: #e9e9e9; border: thin solid gray;  border-radius: 5px;'>{{ article.content|linebreaks }}</td></tr>
  {% endfor %}
  </table>
  
  
<table class='tab' style="border:2px solid #000000;border-radius:10px;padding:10px">
  <tr><td class='tdall' colspan='5'><font style="color:red;">物件導向程式語言<br></font></td></tr>
  <tr>
    <td class='cyutright_bottom' rowspan="2">2C<br>上課時間：<br>禮拜二7,8,9節 M515<br>禮拜三X,5,6節 M515</td>
    <td class='cyutright_border'>3月<td style="border-bottom:1px dashed #0000ff;">13日(三)<br>20日(三)</td>
    <td class='cyutright_border'>4月<td style="border-bottom:1px dashed #0000ff;">09日(二)、10日(三)<br>16日(二)、17日(三)</td>
  </tr>
  <tr>
    <td class='cyutright_border'>5月<td style="border-bottom:1px dashed #0000ff;">08日(三)<br>14日(二)、15日(三)</td>
    <td class='cyutright_border'>6月<td style="border-bottom:1px dashed #0000ff;">04日(二)、05日(三)<br>11日(二)、12日(三)<br>18日(二)、19日(三)</td>
  </tr>
  
  <tr>
    <td class='cyutright_bottom' rowspan="2">2B<br>上課時間：<br>禮拜二7,8,9節 M515<br>禮拜五1,2,3節 M514</td>
    <td class='cyutright_border'>3月<td style="border-bottom:1px dashed #0000ff;">15日(五)<br>22日(五)</td>
    <td class='cyutright_border'>4月<td style="border-bottom:1px dashed #0000ff;">09日(二)、12日(五)<br>16日(二)、19日(五)</td>
  </tr>
  <tr>
    <td class='cyutright_border'>5月 <td style="border-bottom:1px dashed #0000ff;">10日(五)<br>14日(二)、17日(五)</td>
    <td class='cyutright_border'>6月 <td style="border-bottom:1px dashed #0000ff;">04日(二)、11日(二)<br>14日(五)、21日(五)</td>
  </tr>
  <tr><td class='tdall' colspan='5'><font style="color:red;">2B、2C合班考試</font></td></tr>
  <tr><td style="font-size:20px;text-align:center;" colspan='5'>期中考日期：5月07日第8,9節</td></tr>
  <tr><td style="font-size:20px;text-align:center;" colspan='5'>期末考日期：6月25日第8,9節</td></tr>
</table>

<p>