{% load staticfiles %}
<br>
<div id="work">
	<h3>功課專區</h3>
</div>
<p>
<table class='tab'>
  <tr><th class='tdtitle' colspan='3'>功課專區</th></tr>
  <tr>
	<td class='tdall'><a href='https://drive.google.com/open?id=1L5jP2nu5O41snTyfxYllRJGil5MDAFbz' target="_blank"><font style="color:red;">電子商務</font></a></td>
	<td class='tdall'><a href='https://drive.google.com/drive/folders/1ewHaNkU9b3q0DhA2Q44HyGT8tJL0qly7?usp=sharing' target="_blank">第一週測驗答案</a></td>
  </tr>
  <tr>
  	<td class='tdall'><a href='https://drive.google.com/open?id=1K8XifNE9YM0bj7prdFUzht-7Bn-2b7j2' target="_blank"><font style="color:red;">電腦網路</font></a></td>
	<td class='tdall'><a href='＃'></a></td>
  </tr>
  <tr>
  	<td class='tdall'><a href='https://drive.google.com/open?id=1uFYAWEXqPKLHcyUol2iwUMAiznojHODD' target="_blank"><font style="color:red;">資料庫管理系統</font></a></td>
	<td class='tdall'><a href='https://drive.google.com/open?id=1zl_jlUdWBoMHGtcpfhV7hO0isCxUFEgU'>PR01加考試</a></td>
  </tr>
</table>

<p>
