{% load staticfiles %}
<br>
{% if user.is_authenticated %}
<table class='tab'>
  <tr><th class='tdtitle' colspan='3'>功課專區</th></tr>
  <tr>
	<td class='tdall'><a href='https://drive.google.com/open?id=1SNh3DkWjgkkTYy7pRsfeIctEkXErx6xB' target="_blank"><font style="color:red;">電子商務</font></a></td>
  	<td class='tdall'><a href='https://drive.google.com/open?id=1IfIEXa_YvRtUgjlF5n5g_EoLNl0Xq5bK' target="_blank"><font style="color:red;">電腦網路</font></a></td>
  	<td class='tdall'><a href='https://drive.google.com/open?id=1U_zs1tRekvMcnE381mQM6tLPKGgs-H8F' target="_blank"><font style="color:red;">資料庫</font></a></td>
  </tr>
  <tr>
	<td class='tdall'><a href='https://drive.google.com/open?id=1k7MWsDNynXzxTFByRGa69oT9EjbqtQsv' target="_blank"><font style="color:red;">JavaScript</font></a></td>
  </tr>
  <tr>
    <td class='tdall' colspan='3'><font style="font-size:15px;">※請點取紅色資料夾即可※</font></td>
  </tr>
</table>
<p>
<table class='tab'>
  <tr><th class='tdtitle' colspan='3'>期中考參考講義</th></tr>
  <tr>
	<td class='tdall'><a href='https://drive.google.com/open?id=1b33MnFXZjWIJNzaHi-GE3JmYqW83jeKq' target="_blank"><font style="color:red;">電子商務</font></a></td>
  	<td class='tdall'><a href='https://drive.google.com/open?id=1cO83DuTQwWOoJRTRQY3twDetu4WIBYDx' target="_blank"><font style="color:red;">電腦網路</font></a></td>
  </tr>
</table>

<p>

<table class='tab'>
  <tr><th class='tdtitle' colspan='2'>檢定</th></tr>
  <tr>
	<td class='tdall'><a href="https://drive.google.com/open?id=1esBFsR5xZCV9Eu43KEU1sdqEzE3R4T4Y" target="_blank">Java檢定答案</a></td>
	<td class='tdall'><a href="https://drive.google.com/open?id=1CBoHfQ6vV8i0Mz00taGgYr7kieNQdSAO" target="_blank">Python檢定答案</a></td>
  </tr>
  <tr>
	<td class='tdall'><a href="http://www.im.cyut.edu.tw/html/html/board/p_test/2016-1-1.pdf" target="_blank">Java檢定PDF</a></td>
	<td class='tdall'><a href="http://www.im.cyut.edu.tw/html/html/board/p_test/2016-1-2.pdf" target="_blank">Python檢定PDF</a></td>
  </tr>
</table>
<table class='tab'>
  <tr>
    <td class='tdall'><a href="http://ptest.im.cyut.edu.tw/" target="_blank">*程式檢定驗證系統*</a></td>
    <td class='tdall'><a href="http://www.im.cyut.edu.tw/html/html/board/p_test/ptest_board.htm" target="_blank">程式檢定公告</a></td>
  </tr>
</table>
{% endif %}
<p>

<table class='tab'>
  <tr><th class='tdtitle' colspan='3'>下載專區</th></tr>
  <tr>
    <td class='tdall'><a href="https://www.ubuntu-tw.org/modules/tinyd0/" target="_blank"><img class='image' src="{% static 'main/img1/ubuntu.png' %}"> UBUNTU.iso</a></td>
    <td class='tdall'><a href="https://www.microsoft.com/zh-tw/sql-server/sql-server-downloads" target="_blank"><img class='image' src="{% static 'main/img1/microsoftSQL.png' %}"> Microsoft SQL</a></td>
  </tr>
  <tr>
    <td class='tdall' colspan='2'><a href="https://docs.microsoft.com/zh-tw/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017" target="_blank"><img class='image' src="{% static 'main/img1/ssms.png' %}"> SQL Server Management Studio  (SSMS)</a></td>
    <td class='tdall' ><a href="https://www.oracle.com/technetwork/developer-tools/sql-developer/downloads/index.html" target="_blank"><img class='image' src="{% static 'main/img1/sqldev.png' %}"> Oracle SQL Developer</a></td>
  </tr>
  <tr>
  	<td class='tdall'><a href="https://github.com/Microsoft/msphpsql/releases" target="_blank">Windows 7.3</a></td>
  	<td class='tdall'><a href="https://www.microsoft.com/en-us/download/confirmation.aspx?id=36434" target="_blank">ODBC Driver 11</a></td>
  	<td class='tdall'><a href="https://drive.google.com/open?id=1C8TEZImG2I95vSf6ZipE3cjpqov-MW00" target="_blank">XAMPP 修改PHP.ini</a></td>
  </tr>
  
  <tr></tr>
  
</table>

<p>
<table class='tab'>
  <tr><th class='tdtitle' colspan='2'>課表</th></tr>
  <tr>
	<td class='tdall'><a href="https://drive.google.com/open?id=1XeWP_U0lO1W3d2lxw1ie9lwYMsqzFmCL" target="_blank">2B</a></td>
	<td class='tdall'><a href="https://drive.google.com/open?id=1Re5EM-xrwiISovGyMg6lG2itDaTh0FaK" target="_blank">2C</a></td>
  </tr>
</table>

<p>

<table class='tab'>
  <tr><th class='tdtitle' colspan='2'>資料結構</th></tr>
  <tr><td class='tdall'><a href="https://drive.google.com/open?id=1xdnea5iLXEK_OBgshK9-R-Ahi9OkIeKr" target="_blank">光碟檔案</a></td></tr>
</table>
