{% load staticfiles %}
<br>
<table class='tab'>
  <tr><th class='tdtitle' colspan='3'>唐元亮教材</th></tr>
  <tr>
	<td class='tdall'><a href="http://yltang.net/" target="_blank">首頁</a></td>
	<td class='tdall'><a href="http://yltang.net/tutorial/django/0/" target="_blank"><img class='image' src="{% static 'main/img1/djangologo.png' %}"> Django</a></td>
	<td class='tdall'><a href="http://yltang.net/tutorial/javascript/0/" target="_blank"><img class='image' src="{% static 'main/img1/jslogo.png' %}"> Javascript</a></td>
  </tr>
  <tr>
	<td class='tdall'><a href="http://yltang.net/tutorial/webdesign/0/" target="_blank"><img class='image' src="{% static 'main/img1/wdlogo.png' %}"> 網頁設計</a></td>
	<td class='tdall'><a href="http://yltang.net/tutorial/phaser/0/" target="_blank"><img class='image' src="{% static 'main/img1/pylogo.png' %}"> Python</a></td>
	<td class='tdall'><a href="http://yltang.net/tutorial/phaser/0/" target="_blank"><img class='image' src="{% static 'main/img1/phaserlogo.png' %}"> Phaser</a></td>
  </tr>
</table>

<p>

<table class='tab'>
  <tr><th class='tdtitle' colspan='2'>檢定</th></tr>
  <tr>
	<td class='tdall'><a href="https://drive.google.com/drive/folders/197Fdyreexgz87Djx7kBbsnQwFNVjJwCX?usp=sharing" target="_blank">Java檢定答案</a></td>
	<td class='tdall'><a href="https://drive.google.com/drive/folders/1vQ6N_Nfx2kAWQQ8WB5t27Vg7ymgSKhb6?usp=sharing" target="_blank">Python檢定答案</a></td>
  </tr>
  <tr>
	<td class='tdall'><a href="http://www.im.cyut.edu.tw/html/html/board/p_test/2016-1-1.pdf" target="_blank">Java檢定PDF</a></td>
	<td class='tdall'><a href="http://www.im.cyut.edu.tw/html/html/board/p_test/2016-1-2.pdf" target="_blank">Python檢定PDF</a></td>
  </tr>
</table>
<table class='tab'>
  <tr><td class='tdall'><a href="http://ptest.im.cyut.edu.tw/" target="_blank">*程式檢定驗證系統*</a></td></tr>
  <tr><td class='tdall'><a href="http://www.im.cyut.edu.tw/html/html/board/p_test/ptest_board.htm" target="_blank">程式檢定公告</a></td></tr>
</table>

<p>

<table class='tab'>
  <tr><th class='tdtitle' colspan='3'>下載專區</th></tr>
  <tr>
	<td class='tdall'><a href="https://www.virtualbox.org/wiki/Downloads" target="_blank"><img class='image' src="{% static 'main/img1/vboxlogo.png' %}"> Virtualbox下載</a></td>
	<td class='tdall'><a href="https://www.ubuntu-tw.org/modules/tinyd0/" target="_blank"><img class='image' src="{% static 'main/img1/ubuntu.png' %}"> UBUNTU下載</a></td>
  </tr>
</table>

<p>

<table class='tab'>
  <tr><th class='tdtitle' colspan='2'>資料結構</th></tr>
  <tr><td class='tdall'><a href="https://drive.google.com/drive/folders/12d2XZBvzmFWlnsIE8oUJoUq8HSYuOQ39?usp=sharing" target="_blank">光碟檔案</a></td></tr>
</table>
