{% load staticfiles %}
<br>
<table class='tab'>
  <tr><th class='tdtitle' colspan='3'>功課專區</th></tr>
  <tr>
	<td class='tdall'><font style="color:red;">電子商務</font></td>
	<td class='tdall'><a href='https://drive.google.com/drive/folders/1ewHaNkU9b3q0DhA2Q44HyGT8tJL0qly7?usp=sharing' target="_blank">第一週測驗答案</a></td>
  </tr>
  <tr>
  	<td class='tdall'><font style="color:red;">電腦網路</font></td>
	<td class='tdall'><a href='＃'></a></td>
  </tr>
  <tr>
  	<td class='tdall'><font style="color:red;">資料庫管理系統</font></td>
	<td class='tdall'><a href='＃'></a></td>
  </tr>
</table>

<p>
