<table style='float:right;width:400px;'>
	<tr><td style='color:#FFFF00;font-size:20px;'><a style='color:#FFFF00;' href="{% url 'main:version' %}">版本資訊</a></td></tr>
	<tr><td style='color:#FFFF00;font-size:20px;'><a style='color:#FFFF00;' href="{% url 'main:connection' %}">聯絡版主</a></td></tr>
</table>

<table style='float:left;width:400px;'>
  <tr><td><font size="5"><b>Ver 2.5</b></font></td></tr>
  <tr><td><font size="3">公布日期：2019年04月14日</font></td></tr>
</table>

{% for message in messages %}
  <font style='color:#00ffff;font-size:30px;' class="{{ message.tags }}">{{ message }}</font>
{% endfor %}