{% load staticfiles %}
<table style="width:100%">
  <tr>
	<td style="width:10%"><a href="{% url 'main:main' %}"><font color='#ffffff'><h1>保齡球連結網站</h1></font></a></td>
	<td style="width:40%; align:left; ">
		<nav><ul id="menu" >
		  <li><a href="https://www.google.com.tw/" target="_blank"><img class='image' src="{% static 'main/img3/google.png' %}"> Google</a></li>
		  <li><a href="https://www.youtube.com/?gl=TW" target="_blank"><img class='image' src="{% static 'main/img3/youtube.png' %}"> Youtube</a></li>
		  <li><a href="https://mail.google.com/mail" target="_blank"><img class='image' src="{% static 'main/img3/gmail.png' %}"> Gmail</a></li>
		  <li><a href="https://www.google.com.tw/maps" target="_blank"><img class='image' src="{% static 'main/img3/map.png' %}"> Map</a></li>
		  <li><a href="https://drive.google.com/drive" target="_blank"><img class='image' src="{% static 'main/img3/drive.png' %}"> Driver</a></li>
		  <li><a href="https://translate.google.com.tw/?hl=zh-TW" target="_blank"> 翻譯</a></li>
		</ul></nav>
	</td>
  </tr>
</table>
