<br>
<table class='tab'>
	<tr><th class='tdtitle' colspan='2'>社群軟體</th></tr>
	<tr>
		<td class='tdall'><a href="https://www.facebook.com/" target="_blank">FACEBOOK</a></td>
		<td class='tdall'><a href="https://www.instagram.com/" target="_blank">INSTAGRAM</a></td>
	</tr>
</table>
<p>
<table class='tab'>
	<tr><th class='tdtitle' colspan='3'>台灣鐵路</th></tr>
	<tr>
		<td class='tdall'><a href="https://www.railway.gov.tw/tw/" target="_blank">台鐵首頁</a></td>
		<td class='tdall'><a href="http://twtraffic.tra.gov.tw/twrail/TW_Quicksearch.aspx" target="_blank">火車時刻表查詢</a></td>
		<td class='tdall'><a href="http://railway1.hinet.net/Foreign/TW/ecsearch.html" target="_blank">查詢剩餘車票</a></td>
	</tr>
</table>
<p>
<table  class='tab'>
	<tr><th class='tdtitle' colspan='3'>台灣高鐵</th></tr>
	<tr>
		<td class='tdall'><a href="https://www.thsrc.com.tw/index.html" target="_blank">台灣高鐵首頁</a></td>
		<td class='tdall'><a href="https://irs.thsrc.com.tw/IMINT/" target="_blank">網路訂票</a></td>
		<td class='tdall'><a href="https://www.thsrc.com.tw/tw/TimeTable/SearchResult" target="_blank">時刻表與票價查詢</a></td>
	</tr>
</table>
<p>
<table class='tab'>
	<tr><th class='tdtitle' colspan='3'>影視追劇系列</th></tr>
	<tr>
		<td class='tdall'><a href="https://tv.line.me/" target="_blank">LINE TV首頁</a></td>
		<td class='tdall'><a href="https://www.chocotv.com.tw/" target="_blank">chocotv首頁</a></td>
		<td class='tdall'><a href="http://tw.iqiyi.com/dianying/" target="_blank">愛奇藝首頁</a></td>
	</tr>
	<tr>
		<td class='tdall'><a href="https://www.kktv.me/" target="_blank">KKTV首頁</a></td>
		<td class='tdall'><a href="https://www.litv.tv/" target="_blank">LiTV首頁</a></td>
		<td class='tdall'><a href="http://www.99kubo.tv/" target="_blank">99酷播首頁</a></td>
	</tr>
</table>
<p>
<table class='tab'>
	<tr><th class='tdtitle' colspan='3'>網購系列</th></tr>
	<tr>
		<td class='tdall'><a href="https://shopee.tw/" target="_blank">蝦皮購物首頁</a></td>
		<td class='tdall'><a href="https://www.ruten.com.tw/" target="_blank">露天購物首頁</a></td>
		<td class='tdall'><a href="https://tw.mall.yahoo.com/" target="_blank">Yahoo商城首頁</a></td>
	</tr>
	<tr>
		<td class='tdall'><a href="https://shopping.pchome.com.tw/" target="_blank">PChome購物首頁</a></td>
		<td class='tdall'><a href="https://world.taobao.com/?spm=a213z.1306665.2014082601.1.d3675283Qx03KY" target="_blank">淘寶網台灣站首頁</a></td>
	</tr>
</table>
<p>
<table class='tab'>
	<tr><th class='tdtitle' colspan='3'>找工作、找打工系列</th></tr>
	<tr>
		<td class='tdall'><a href="https://www.104.com.tw/" target="_blank" STYLE="text-decoration:none"><font size="5">104人力銀行首頁</a></td>
		<td class='tdall'><a href="https://www.1111.com.tw/" target="_blank" STYLE="text-decoration:none"><font size="5">1111人力銀行首頁</a></td>
		<td class='tdall'><a href="https://www.518.com.tw/" target="_blank" STYLE="text-decoration:none"><font size="5">518人力銀行首頁</a></td>
	</tr>
</table>
<p>
<table class='tab'>
	<tr><th class='tdtitle' colspan='3'>Other其他</th></tr>
	<tr>
		<td class='tdall'><a href="https://sloan.bot.com.tw/newsloan/login/SLoanLogin.action" target="_blank">就學貸款網站</a></td>
		<td class='tdall'><a href="https://www.apowersoft.tw/free-online-screen-recorder" target="_blank">螢幕擷取程式</a></td>
		<td class='tdall'><a href="http://convert2mp3.net/en/" target="_blank">音樂轉檔</a></td>
	</tr>
	<tr>
		<td class='tdall'><a href="https://print.ibon.com.tw/ibonprinter?utm_source=ibon%20WEB&utm_medium=shortcut&utm_campaign=opening" target="_blank">ibon雲端列印網</a></td>
		<td class='tdall'><a href="https://tw.beanfun.com/index.aspx" target="_blank">Beanfun首頁</a></td>
	</tr>
</table>