{% load staticfiles %}
<style>
  .td_style{
  	text-align: left; 
	  padding: 2px 0px 6px 5px; 
	  font-size:25px;
  }
</style>
<br>
<table class='tab'>
  <tr><td class="td_style"><a href="https://www.railway.gov.tw/tra-tip-web/tip" target="_blank"><img class="image" src="{% static 'main/img/taiwan_train.png' %}" title="臺鐵"> 台鐵首頁</a></td></tr>
  <tr><td class="td_style"><a href="https://www.railway.gov.tw/tra-tip-web/tip/tip001/tip112/gobytime" target="_blank"><img class="image" src="{% static 'main/img/taiwan_train.png' %}" title="臺鐵"> 時刻表查詢</a></td></tr>
  <tr><td class="td_style"><a href="https://www.railway.gov.tw/tra-tip-web/tip/tip001/tip119/queryTime" target="_blank"><img class="image" src="{% static 'main/img/taiwan_train.png' %}" title="臺鐵"> 列車剩餘車票</a></td></tr>
</table>
<br>
<table class='tab'>
  <tr><td class="td_style"><a href="https://www.thsrc.com.tw/index.html" target="_blank"><img class="image" src="{% static 'main/img/high_train.png' %}" title="高鐵"> 高鐵首頁</a></td></tr>
  <tr><td class="td_style"><a href="https://irs.thsrc.com.tw/IMINT/" target="_blank"><img class="image" src="{% static 'main/img/high_train.png' %}" title="高鐵"> 網路訂票</a></td></tr>
  <tr><td class="td_style"><a href="https://www.thsrc.com.tw/tw/TimeTable/SearchResult" target="_blank"><img class="image" src="{% static 'main/img/high_train.png' %}" title="高鐵"> 時刻表與票價查詢</a></td></tr>
</table>
<br>
<table class='tab'>
  <tr><td class="td_style"><a href="https://shopee.tw/" target="_blank"><img class='image' src="{% static 'main/img/shopee.png' %}" title='蝦皮購物'> 蝦皮購物</a></td></tr>
  <tr><td class="td_style"><a href="https://www.ruten.com.tw/" target="_blank"><img class='image' src="{% static 'main/img/ruten.png' %}" title='露天購物'> 露天購物</a></td></tr>
  <tr><td class="td_style"><a href="https://tw.mall.yahoo.com/" target="_blank"><img class='image' src="{% static 'main/img/yahoo.png' %}" title='Yahoo商城'> Yahoo商城</a></td></tr>
  <tr><td class="td_style"><a href="https://shopping.pchome.com.tw/" target="_blank"><img class='image' src="{% static 'main/img/pchome.png' %}" title='PChome'> PChome</a></td></tr>
</table>
<br>
<table class='tab'>
  <tr><td class="td_style"><a href="https://www.taiwanmobile.com/index.html" target="_blank"><img class='image' src="{% static 'main/img/twnmobile.png' %}" title='台灣大哥大'> 台灣大哥大</a></td></tr>
</table>
<br>
