{% load staticfiles %}
<style>
  .td_style{
  	text-align: left; 
	  padding: 2px 0px 6px 5px; 
	  font-size:25px;
  }
</style>
<br>
<table class='tab'>
  <tr>
    <td class="td_style" rowspan="3"><img class="image" src="{% static 'main/img/cyut.png' %}"></td>
    <td class="td_style"><a href="https://www.cyut.edu.tw/" target="_blank"> 朝陽首頁</a></td>
    <td class="td_style"><a href="https://admin.cyut.edu.tw/student/loginstu.asp" target="_blank"> 學生資訊系統</a></td>
  </tr>
  <tr>
    <td class="td_style"></td>
    <td class="td_style"><a href="https://admin.cyut.edu.tw/crsinfo/" target="_blank"> 課程查詢</a></td>
    <td class="td_style"><a href="https://cts.cyut.edu.tw/Auth/U/Login?" target="_blank"> 工讀生資訊系統</a></td>
  </tr>
  <tr>
    <td class="td_style"></td>
    <td class="td_style"><a href="http://class.cyut.edu.tw/" target="_blank"> 選課系統</a></td>
    <td class="td_style"><a href="https://acad.cyut.edu.tw/p/412-1002-2368.php?Lang=zh-tw" target="_blank"> 行事曆</a></td>
  </tr>
  <tr><td class="td_style" colspan="3"><a href="https://webim.cyut.edu.tw/" target="_blank"><img class="image" src="{% static 'main/img/cyut_im.png' %}" title="朝陽資管"> 朝陽資管</a></td></tr>
</table>
<table class='tab'>
  <tr>
    <td class="td_style"><a href="http://tronclass.cyut.edu.tw/" target="_blank"><img class="image" src="{% static 'main/img/tronclass.png' %}" title='tronclass'> Tronclass</a></td>
    <td class="td_style"><a href="https://moodle.cyut.edu.tw/moodle23/" target="_blank"><img class="image" src="{% static 'main/img/moodlelogo.gif' %}" title='Moodle'> Moodle</a></td>
  </tr>
  <tr>
    <td class="td_style"><a href="http://yltang.net/tutorial/dsml/" target="_blank"><img class="image" src="{% static 'main/img1/dsmllogo.png' %}"> Machine Learning</a></td>
    <td class="td_style"><a href="http://yltang.net/tutorial/webdesign/0/" target="_blank"><img class="image" src="{% static 'main/img1/wdlogo.png' %}"> Web Design</a></td>
  </tr>
  <tr>
    <td class="td_style"><a href="http://yltang.net/tutorial/javascript/0/" target="_blank"><img class="image" src="{% static 'main/img1/jslogo.png' %}"> Javascript</a></td>
    <td class="td_style"><a href="http://yltang.net/django-book/" target="_blank"><img class="image" src="{% static 'main/img1/djangologo.png' %}"> Django</a></td>
  </tr>
</table>

<br>
<!--table class='tab'>
   <tr>
      <th class='tdtitle' colspan='3'><a href="http://web.cyut.edu.tw/p/426-1000-5.php?Lang=zh-tw" target="_blank">朝陽專區</a></th>
   </tr>
   <tr>
      <td class='tdall'><a href="https://www.cyut.edu.tw/" target="_blank"><img class='image' src="{% static 'main/img/cyut.png' %}" title='tronclass'> 朝陽首頁</a></td>
      <td class='tdall'><a href="https://admin.cyut.edu.tw/student/loginstu.asp" target="_blank">學生資訊系統</a></td>
      <td class='tdall'><a href="https://webim.cyut.edu.tw/" target="_blank">朝陽資管</a></td>
   </tr>
   <tr>
      <td class='tdall'><a href="https://cts.cyut.edu.tw/Auth/U/Login?" target="_blank">工讀生資訊系統</a></td>
      <td class='tdall'><a href="http://163.17.1.59/alltop_bus/index.php" target="_blank">付款紀錄查詢系統</a></td>
      <td class='tdall'><a href="https://admin.cyut.edu.tw/crsinfo/" target="_blank">課程查詢</a></td>
   </tr>
   <tr>
      <td class='tdall'><a href="https://acad.cyut.edu.tw/p/412-1002-2368.php?Lang=zh-tw" target="_blank">行事曆</a></td>
      <td class='tdall'><a href="http://class.cyut.edu.tw/" target="_blank">選課系統</a></td>
   </tr>
</table>
<p>
<table class='tab'>
   <tr>
      <th class='tdtitle' colspan='3'>朝陽數位教學平台</th>
   </tr>
   <tr>
      <td class='tdall'><a href="http://tronclass.cyut.edu.tw/" target="_blank"><img class='image' src="{% static 'main/img/tronclass.png' %}" title='tronclass'> Tronclass</a></td>
      <td class='tdall'><a href="https://moodle.cyut.edu.tw/moodle23/" target="_blank"><img class='highimage' src="{% static 'main/img/moodlelogo.gif' %}" title='tronclass' >  Moodle</a></td>
   </tr>
</table>
<p>
<table class='tab'>
   <tr>
      <th class='tdtitle' colspan='3'>教材</th>
   </tr>
   <tr>
      <td class='tdall'><a href="http://yltang.net/tutorial/dsml/" target="_blank"><img class='image' src="{% static 'main/img1/dsmllogo.png' %}"> Machine Learning</a></td>
      <td class='tdall'><a href="http://yltang.net/tutorial/webdesign/0/" target="_blank"><img class='image' src="{% static 'main/img1/wdlogo.png' %}"> Web Design</a></td>
      <td class='tdall'><a href="http://yltang.net/tutorial/javascript/0/" target="_blank"><img class='image' src="{% static 'main/img1/jslogo.png' %}"> Javascript</a></td>
   </tr>
</table-->
<p>
<table class='tab'>
   <tr>
      <th class='tdtitle' colspan='3'>程式下載</th>
   </tr>
   <tr>
      <td class='tdall'><a href="https://rar.tw/download.html" target="_blank"><img class='image' src="{% static 'main/img1/WinRAR.png' %}"> WinRAR</a></td>
      <td class='tdall'><a href="https://get.adobe.com/tw/reader/" target="_blank"><img class='image' src="{% static 'main/img1/acrobat_dc.png' %}"> Reader DC</a></td>
      <td class='tdall'><a href="https://notepad-plus-plus.org/downloads/" target="_blank"><img class='image' src="{% static 'main/img1/Notepad++.png' %}"> Notepad++</a></td>
   </tr>
   <tr>
      <td class='tdall'><a href="https://www.teamviewer.com/tw/download/windows/" target="_blank"><img class='image' src="{% static 'main/img1/teamviewer.png' %}"> TeamViewer</a></td>
      <td class='tdall'><a href="https://anydesk.com/zhs" target="_blank"><img class='image' src="{% static 'main/img1/anydesk.png' %}"> Anydesk</a></td>
      <td class='tdall'><a href="https://www.anaconda.com/distribution/" target="_blank"><img class='image' src="{% static 'main/img1/anaconda.png' %}"> Anaconda</a></td>
   </tr>
   <tr>
      <td class='tdall'><a href="https://visualstudio.microsoft.com/zh-hant/downloads/" target="_blank"><img class='image' src="{% static 'main/img1/visualstudio.png' %}"> Visual Studio</a></td>
      <td class='tdall'><a href="https://code.visualstudio.com/" target="_blank"><img class='image' src="{% static 'main/img1/vscode.png' %}"> Visual Code</a></td>
      <td class='tdall'><a href="http://brackets.io/" target="_blank"><img class='image' src="{% static 'main/img1/Brackets.png' %}"> Brackets</a></td>
   </tr>
   <tr>
      <td class='tdall'><a href="https://www.python.org/" target="_blank"><img class='image' src="{% static 'main/img1/python.png' %}"> Python</a></td>
      <td class='tdall'><a href="https://java.com/zh_TW/download/" target="_blank"><img class='image' src="{% static 'main/img1/java.png' %}"> Java</a></td>
      <td class='tdall'><a href="https://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html" target="_blank"><img class='image' src="{% static 'main/img1/java.png' %}"> Java JDK</a></td>
   </tr>
   <tr>
      <td class='tdall'><a href="https://www.oracle.com/technetwork/developer-tools/sql-developer/downloads/index.html" target="_blank"><img class='image' src="{% static 'main/img1/sqldev.png' %}">SQL Developer</a></td>
      <td class='tdall'><a href="https://www.eclipse.org/downloads/" target="_blank"><img class='image' src="{% static 'main/img1/eclipse.png' %}"> Eclipse</a></td>
      <td class='tdall'><a href="https://netbeans.org/downloads/8.0.2/" target="_blank"><img class='image' src="{% static 'main/img1/netbeans.png' %}"> Netbeans</a></td>
   </tr>
   <tr>
      <td class='tdall'><a href="https://docs.microsoft.com/zh-tw/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017" target="_blank"><img class='image' src="{% static 'main/img1/ssms.png' %}"> SSMS</a></td>
      <td class='tdall'><a href="https://www.microsoft.com/zh-tw/sql-server/sql-server-downloads" target="_blank"><img class='image' src="{% static 'main/img1/microsoftSQL.png' %}"> Microsoft SQL Sever</a></td>
      <td class='tdall'><a href="https://www.apachefriends.org/zh_tw/index.html" target="_blank"><img class='image' src="{% static 'main/img1/xampp.png' %}"> XAMPP</a></td>
   </tr>
</table>
