{% load staticfiles %}

<br>
<table class='tab' style="text-align: left; margin-left: 5px;">
	<tr><td class='tdall'><a href="https://www.google.com.tw/" target="_blank"><img class='image' src="{% static 'main/img3/google.png' %}"> Google</a></td></tr>
	<tr><td class='tdall'><a href="https://www.youtube.com/?gl=TW" target="_blank"><img class='image' src="{% static 'main/img3/youtube.png' %}"> Youtube</a></td></tr>
	<tr><td class='tdall'><a href="https://mail.google.com/mail" target="_blank"><img class='image' src="{% static 'main/img3/gmail.png' %}"> Gmail</a></td></tr>
	<tr><td class='tdall'><a href="https://www.google.com.tw/maps" target="_blank"><img class='image' src="{% static 'main/img3/map.png' %}"> Map</a></td></tr>
	<tr><td class='tdall'><a href="https://drive.google.com/drive" target="_blank"><img class='image' src="{% static 'main/img3/drive.png' %}"> Driver</a></td></tr>
	<tr><td class='tdall'><a href="https://translate.google.com.tw/?hl=zh-TW" target="_blank"> 翻譯</a></td></tr>
</table>

