{% load staticfiles %}
<style>
  .td_style{
  	text-align: left; 
	  padding: 2px 0px 6px 5px; 
	  font-size:25px;
  }
</style>
<br>
<table class='tab'>
  <tr>
    <td class="td_style"><a href="http://yltang.net/tutorial/dsml/" target="_blank"><img class="image" src="{% static 'main/img1/dsmllogo.png' %}"> Machine Learning</a></td>
    <td class="td_style"><a href="http://yltang.net/tutorial/webdesign/0/" target="_blank"><img class="image" src="{% static 'main/img1/wdlogo.png' %}"> Web Design</a></td>
  </tr>
  <tr>
    <td class="td_style"><a href="http://yltang.net/tutorial/javascript/0/" target="_blank"><img class="image" src="{% static 'main/img1/jslogo.png' %}"> Javascript</a></td>
    <td class="td_style"><a href="http://yltang.net/django-book/" target="_blank"><img class="image" src="{% static 'main/img1/djangologo.png' %}"> Django</a></td>
  </tr>
  <tr><td colspan="2"><p></p></td></tr>
  <tr>
    <td class="td_style"><a href="https://tv.line.me/" target="_blank"><img class='image' src="{% static 'main/img/line_tv.png' %}" title='line tv'> LINE TV</a></td>
    <td class="td_style"><a href="https://www.kktv.me/" target="_blank"><img class='image' src="{% static 'main/img/kktv.png' %}" title='kktv'> KKTV</a></td>
  </tr>
  <tr>
    <td class="td_style"><a href="http://tw.iqiyi.com/dianying/" target="_blank"><img class='image' src="{% static 'main/img/QIY.png' %}" title='愛奇藝' width='70px'> 愛奇藝</a></td>
    <td class="td_style"><a href="https://www.litv.tv/" target="_blank"><img class='image' src="{% static 'main/img/litv.png' %}" title='Litv'> LiTV</a></td>
  </tr>
  <tr>
    <td class="td_style"><a href="http://www.99kubo.tv/" target="_blank">99酷播</a></td>
    <td class="td_style"><a href="http://dramasq.com/" target="_blank">DramasQ線上看</a></td>
  </tr>
  <tr><td colspan="2"><p></p></td></tr>
  <tr>
    <td class="td_style" colspan="2"><a href="{% url 'main:download' %}" target="_blank">軟體安裝下載→→→</a></td>
  </tr>
</table>
