{% load staticfiles %}

<p>
<table class='tab'>
	<tr><th class='tdtitle' colspan='3'>找工作 打工系列</th></tr>
	<tr>
		<td class='tdall'><a href="https://www.104.com.tw/" target="_blank"><img class='image' src="{% static 'main/img/104.png' %}" title='104人力銀行'> 104人力銀行</a></td>
		<td class='tdall'><a href="https://www.1111.com.tw/" target="_blank"><img class='image' src="{% static 'main/img/1111.png' %}" title='1111人力銀行'> 1111人力銀行</a></td>
		<td class='tdall'><a href="https://www.518.com.tw/" target="_blank"><img class='image' src="{% static 'main/img/518.png' %}" title='518人力銀行'> 518人力銀行</a></td>
	</tr>
</table>

