{% load staticfiles %}
<br>
<table class='tab'>
	<tr><th class='tdtitle' colspan='3'><a href="http://web.cyut.edu.tw/files/90-1000-5.php?Lang=zh-tw" target="_blank">朝陽學生專區</a></th></tr>
	<tr>	
		<td class='tdall'><a href="https://my.cyut.edu.tw/index.do?thetime=1530205139090" target="_blank">MyCYUT入口</a></td>
		<td class='tdall'><a href="https://admin.cyut.edu.tw/student/loginstu.asp" target="_blank">學生資訊系統</a></td>
		<td class='tdall'><a href="https://cts.cyut.edu.tw/Auth/U/Login?" target="_blank">工讀生資訊系統</a></td>
	</tr>
	<tr>
		<td class='tdall'><a href="https://admin.cyut.edu.tw/crsinfo/" target="_blank">課程資訊系統</a></td>
		<td class='tdall'><a href="http://class.cyut.edu.tw/" target="_blank">選課系統</a></td>
	</tr>
</table>
<p>
<table class='tab'>
	<tr><th class='tdtitle' colspan='3'>朝陽數位教學平台</th></tr>
	<tr>
		<td class='tdall'><a href="http://tronclass.cyut.edu.tw/" target="_blank"><img class='image' src="{% static 'main/img/tronclass.png' %}" title='tronclass'> Tronclass</a></td>
		<td class='tdall'><a href="https://moodle.cyut.edu.tw/moodle23/" target="_blank"> Moodle</a></td>
	</tr>
</table>
<p>
<table class='tab'>
  <tr><th class='tdtitle' colspan='3'>唐元亮教材</th></tr>
  <tr>
	<td class='tdall'><a href="http://yltang.net/" target="_blank">首頁</a></td>
	<td class='tdall'><a href="http://yltang.net/tutorial/django/0/" target="_blank"><img class='image' src="{% static 'main/img1/djangologo.png' %}"> Django</a></td>
	<td class='tdall'><a href="http://yltang.net/tutorial/javascript/0/" target="_blank"><img class='image' src="{% static 'main/img1/jslogo.png' %}"> Javascript</a></td>
  </tr>
  <tr>
	<td class='tdall'><a href="http://yltang.net/tutorial/webdesign/0/" target="_blank"><img class='image' src="{% static 'main/img1/wdlogo.png' %}"> 網頁設計</a></td>
	<td class='tdall'><a href="http://yltang.net/tutorial/phaser/0/" target="_blank"><img class='image' src="{% static 'main/img1/pylogo.png' %}"> Python</a></td>
	<td class='tdall'><a href="http://yltang.net/tutorial/phaser/0/" target="_blank"><img class='image' src="{% static 'main/img1/phaserlogo.png' %}"> Phaser</a></td>
  </tr>
</table>
<p>
<table class='tab'>
	<tr><th class='tdtitle'><a href="http://acad.cyut.edu.tw/var/file/2/1002/img/240/212390311.pdf" target="_blank">朝陽107行事曆</a></th></tr>
</table>
