{% load staticfiles %}
<br>
<table class='tab'>
	<tr><th class='tdtitle' colspan='3'><a href="http://web.cyut.edu.tw/files/90-1000-5.php?Lang=zh-tw" target="_blank">CYUT學生專區</a></th></tr>
	<tr>	
		<td class='tdall'><a href="https://my.cyut.edu.tw/index.do?thetime=1530205139090" target="_blank">MyCYUT入口</a></td>
		<td class='tdall'><a href="https://admin.cyut.edu.tw/student/loginstu.asp" target="_blank">學生資訊系統</a></td>
		<td class='tdall'><a href="https://cts.cyut.edu.tw/Auth/U/Login?" target="_blank">工讀生資訊系統</a></td>
	</tr>
	<tr>
		<td class='tdall'><a href="https://admin.cyut.edu.tw/crsinfo/" target="_blank">課程資訊系統</a></td>
		<td class='tdall'><a href="http://class.cyut.edu.tw/" target="_blank">選課系統</a></td>
		<td class='tdall'><a href="http://tronclass.cyut.edu.tw/" target="_blank">Tronclass</a></td>
	</tr>
</table>
<p>
<table class='tab'>
	<tr><th class='tdtitle' colspan='4'><a href="http://web.cyut.edu.tw/files/90-1000-52.php?Lang=zh-tw" target="_blank">CYUT教學單位</a></th></tr>	
	<tr class='trtea'>
		<td class='tdtea' colspan='4'><a href="http://coinfo.cyut.edu.tw/" target="_blank">資訊學院網站</a></td>
	</tr>
	<tr>
		<td class='tdteaall'><a href="http://webim.cyut.edu.tw/" target="_blank">資訊管理系<br>IM</a></td>
		<td class='tdteaall'><a href="http://www.csie.cyut.edu.tw/" target="_blank">資訊工程系<br>CSIE</a></td>
		<td class='tdteaall'><a href="http://ice.cyut.edu.tw/" target="_blank">資訊通訊系<br>ICE</a></td>
	</tr>
	<tr class='trtea'>
		<td class='tdtea' colspan='4'><a href="https://m-college.cyut.edu.tw/" target="_blank">管理學院</a></td>
	</tr>
	<tr>
		<td class='tdteaall'><a href="https://ba.cyut.edu.tw/" target="_blank">企業管理系<br>BA</a></td>
		<td class='tdteaall'><a href="https://finance.cyut.edu.tw/" target="_blank">財務金融系<br>Finance</a></td>
		<td class='tdteaall'><a href="https://ins.cyut.edu.tw/" target="_blank">保險金融系<br>INS</a></td>
		<td class='tdteaall'><a href="https://acc.cyut.edu.tw/" target="_blank">會計系<br>ACC</a></td>
	</tr>
	<tr>
		<td class='tdteaall'><a href="https://leisure.cyut.edu.tw/" target="_blank">休閒管理系<br>Leisure</a></td>
		<td class='tdteaall'><a href="https://marketing.cyut.edu.tw/" target="_blank">行銷管理系<br>Marketing</a></td>
		<td class='tdteaall'><a href="https://gaim.cyut.edu.tw/" target="_blank">銀髮產業管理系<br>Gaim</a></td>
	</tr>
	<tr class='trtea'>
		<td class='tdtea' colspan='4'><a href="https://soe.cyut.edu.tw/" target="_blank">理工學院網站</a></td>
	</tr>
	<tr>
		<td class='tdteaall'><a href="https://ce.cyut.edu.tw/" target="_blank">營建工程系<br>CE</a></td>
		<td class='tdteaall'><a href="https://applchem.cyut.edu.tw/index.php?Lang=zh-tw" target="_blank">應用化學系<br>Applchem</a></td>
		<td class='tdteaall'><a href="https://iem.cyut.edu.tw/" target="_blank">工業工程與管理系<br>IEM</a></td>
		<td class='tdteaall'><a href="https://dem.cyut.edu.tw/" target="_blank">環境工程與管理系<br>DEM</a></td>
	</tr>
	<tr class='trtea'>
		<td class='tdtea' colspan='4'><a href="https://dcollege.cyut.edu.tw/" target="_blank">設計學院網站</a></td>
	</tr>
	<tr>
		<td class='tdteaall'><a href="https://arch.cyut.edu.tw/" target="_blank">建築系<br>Arch</a></td>
		<td class='tdteaall'><a href="https://visual.cyut.edu.tw/" target="_blank">視覺傳達設計系<br>Visual</a></td>
		<td class='tdteaall'><a href="https://id.cyut.edu.tw/" target="_blank">工業設計系<br>ID</a></td>
		<td class='tdteaall'><a href="https://upla.cyut.edu.tw/index.php" target="_blank">景觀及都市設計系<br>Upla</a></td>
	</tr>
	<tr class='trtea'>
		<td class='tdtea' colspan='4'><a href="https://humanity.cyut.edu.tw/" target="_blank">人文暨社會學院網站</a></td>
	</tr>
	<tr>
		<td class='tdteaall'><a href="https://aecyut.cyut.edu.tw/" target="_blank">應用英文系<br>Aecyut</a></td>
		<td class='tdteaall'><a href="https://ft.cyut.edu.tw/" target="_blank">傳播藝術系<br>FT</a></td>
		<td class='tdteaall'><a href="https://ecde.cyut.edu.tw/" target="_blank">幼兒保育系<br>Ecde</a></td>
		<td class='tdteaall'><a href="https://swdept.cyut.edu.tw/" target="_blank">社會工作系<br>Swdept</a></td>
	</tr>
</table>
<p>
<table class='tab'>
	<tr><th class='tdtitle'><a href="http://acad.cyut.edu.tw/var/file/2/1002/img/240/212390311.pdf" target="_blank">CYUT 107行事曆</a></th></tr>
</table>
